.woo-main-page {
	position: relative;
	min-height: 600px;
	padding: 0 15%;
	padding-top: 150px;

	@media (max-width: 2000px) {
		padding-right: 10%;
		padding-left: 10%;
	}

	@media (max-width: 900px) {
			padding-right: 3%;
			padding-left: 3%;
	}

	.content {
		position: relative;
	}
}

.woo-main {
	padding-top: 150px;
}